<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.iff.pooa20161.appwheroney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.CadastrarConta" />
        <activity android:name=".Activity.Saque" />
        <activity android:name=".Activity.Deposito" />
        <activity android:name=".Activity.Wheroney" />
        <activity android:name=".Activity.Categoria" />
        <activity android:name=".Activity.Lancamentos" />
        <activity
            android:name=".Activity.ListaCategoria"
            android:label="@string/title_activity_lista_categoria" />
        <activity
            android:name=".Activity.ListaDeposito"
            android:label="@string/title_activity_lista_deposito" />
        <activity
            android:name=".Activity.ListaSaque"
            android:label="@string/title_activity_lista_saque"></activity>
    </application>

</manifest>